.for-banner{
    width: 100%;
    height: 200px;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    
    
}

#for-inline{
    display:inline-flex
}
.for-button{
    text-decoration: none;
    
    background: linear-gradient(#e66465, #9198e5);
    border: 2px solid;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 100%;
}
.for-felx{
    display:flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.for-box-shadow{
    
    box-shadow: 10px 20px 30px brown;
    border-image: linear-gradient(blue,rgb(66, 66, 80));
    border-image-slice: 1;
    border-left: 10px solid;
    padding-left:20px ;
    
    
}
.for-paragraph{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.for-author{
    background-color: rgb(0, 217, 255);
}
.for-h1{
    font-size: 50px;
}
#for-padding{
    margin-top: 200px;

}
#lat-box-border{
    border-image: linear-gradient(rgb(255, 102, 0),rgb(209, 46, 18));
    border-image-slice: 1;
    border-bottom: 10px solid;
}
#image-padding{
    margin-left: 50px;
    margin-right: 50px;
}
#finis{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}